@import url('ionic.min.css');
@import url('ionicons.min.css');
@import url('jr-crop.css');

/* Rota framework base styles */
body {
    font-family: 'SourceSansProRegular';
}

.bar-header h1 {
    font-family: 'UbuntuCondensedRegular';
}

.item .col .badge {
    top: 9px !important;
    right: 8px !important;
}

ion-nav-view {
    background-color: white !important;
}

.absolute-positioned-item {
    left: 0;
    right: 0;
}

.no-padding {
    padding: 0px !important;
}

.label-color {
    color: #8A8888 !important;
}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../fonts/SourceSansPro-Regular/sourcesanspro-regular.eot');
    src: url('../fonts/SourceSansPro-Regular/sourcesanspro-regular.eot') format('embedded-opentype'), url('../fonts/SourceSansPro-Regular/sourcesanspro-regular.woff2') format('woff2'), url('../fonts/SourceSansPro-Regular/sourcesanspro-regular.woff') format('woff'), url('../fonts/SourceSansPro-Regular/sourcesanspro-regular.ttf') format('truetype'), url('../fonts/SourceSansPro-Regular/sourcesanspro-regular.svg#SourceSansProRegular') format('svg');
}

@font-face {
    font-family: 'SourceSansProIt';
    src: url('../fonts/SourceSansPro-It/SourceSansProIt.eot');
    src: url('../fonts/SourceSansPro-It/SourceSansProIt.eot') format('embedded-opentype'), url('../fonts/SourceSansPro-It/SourceSansProIt.woff2') format('woff2'), url('../fonts/SourceSansPro-It/SourceSansProIt.woff') format('woff'), url('../fonts/SourceSansPro-It/SourceSansProIt.ttf') format('truetype'), url('../fonts/SourceSansPro-It/SourceSansProIt.svg#SourceSansProIt') format('svg');
}


@font-face {
    font-family: 'UbuntuCondensedRegular';
    src: url('../fonts/ubuntu/ubuntu-c.eot');
    src: url('../fonts/ubuntu/ubuntu-c.eot') format('embedded-opentype'), url('../fonts/ubuntu/ubuntu-c.woff2') format('woff2'), url('../fonts/ubuntu/ubuntu-c.woff') format('woff'), url('../fonts/ubuntu/ubuntu-c.ttf') format('truetype'), url('../fonts/ubuntu/ubuntu-c.svg#UbuntuCondensedRegular') format('svg');
}

.scroll-content {
    background: url('../img/sifa-logoxx.png') no-repeat center center;
}

.popover .scroll-content {
    background: none;
}

.no-background {
    background: none !important;
}

input[type ="date"] {
    color: #1F58D3;
    text-align: center;
}

.login {
    background: none;
    text-align: center;
    border-top: 5px solid #ff6a00;
}

    .login h3 {
        color: #336699;
        font-family: 'UbuntuCondensedRegular';
    }

    .login button {
        font-family: 'UbuntuCondensedRegular';
        font-size: 1.4em;
    }

.company {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 7px;
    font-size: .9em;
    color: #8A8888;
}

.username {
    font-style: italic;
}

.popup {
}

.popup-head {
    border-bottom-color: #8EA2CE;
}

    .popup-head h3 {
        color: #1C63CF;
    }

.error .popup-head {
    border-bottom-color: #D46666 !important;
    background-color: #F3D4D4 !important;
}

    .error .popup-head h3 {
        color: #D85547 !important;
    }

.signature {
    width: 300px;
    margin: 10px auto;
}

.rt-select {
}

    .rt-select .placeholder {
        color: #aeadad;
        font-style: italic;
    }
