<ion-view>
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <button class="button button-positive button-clear no-animation"
                    ng-click="startApp()" ng-show="!slideIndex" i18n="rota.introyugec"></button>
            <button class="button button-positive button-clear no-animation"
                    ng-click="previous()" ng-show="slideIndex > 0" i18n="rota.onceki"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-positive button-clear no-animation"
                    ng-click="next()" ng-show="slideIndex != 1" i18n="rota.sonraki"></button>
            <button class="button button-positive button-clear no-animation"
                    ng-click="startApp()" ng-show="slideIndex == 1" i18n="rota.kullanmayabasla"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide class="slide1">
            <h3 i18n="ynl.intro"></h3>
            <div id="logo">
                <img src="img/ynl-arkas-bg.png" style="width:95%" />
            </div>
            <div class="bottom-text">
                <p i18n="ynl.hakkinda">
                </p>
            </div>
        </ion-slide>
        <ion-slide class="slide2">
            <img src="img/tutorial.jpg" style="width:100%;height:100%" />
        </ion-slide>
    </ion-slide-box>
</ion-view>