<ion-view view-title="{{'nb.nobetci' | i18n}}">
    <ion-content class="has-header">
        <div class="list list-inset">
            <div class="profile-picture big-profile-picture" ng-click="getPhoto()">
                <img src="{{model.icon}}">
            </div>
            <label class="item item-input" style="margin-top: 10px">
                <input type="text" placeholder="Nobetci Adi" ng-model="model.adsoyad">
            </label>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-light">
        <div class="button-bar">
            <a class="button icon-left  ion-checkmark button-positive" ng-click="kaydet()">Kaydet</a>
            <a class="button icon-left ion-close button-assertive" ng-click="sil(model.id)">Sil</a>
        </div>
    </div>
</ion-view>
