<ion-view view-title="{{'ynl.hareketdetay' | i18n}}">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-android-more-vertical" ng-click="islemListesi($event)"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-divider">
                {{::'ynl.hareketbilgileri' | i18n}}
            </div>
            <div class="item no-padding">
                <div class="row">
                    <div class="col" i18n="ynl.hizmet"></div>
                    <div class="col col-75 value item-text-wrap">{{::model.hizmetAdi}}</div>
                </div>
            </div>
            <div class="item no-padding">
                <div class="row">
                    <div class="col" i18n="ynl.tutar"></div>
                    <div class="col col-75">
                        <span class="badge badge-assertive">{{::model.tutar | money:model.pb}}</span>
                    </div>
                </div>
            </div>
            <div class="item no-padding">
                <div class="row">
                    <div class="col" i18n="ynl.tarih"></div>
                    <div class="col col-75 value">{{::model.tarih}}</div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col" i18n="ynl.aciklama"></div>
                    <div class="col col-75 item-text-wrap value">{{::model.aciklama}} </div>
                </div>
            </div>
            <div class="item item-divider">
                {{::'ynl.onaylistesi' | i18n}}
            </div>
            <div class="item no-padding">
                <div class="row">
                    <div class="col col-50">
                        <h3 i18n="ynl.kullanici"></h3>
                    </div>
                    <div class="col col-30">
                        <h3 i18n="ynl.tarih"></h3>
                    </div>
                    <div class="col col-20">
                        <h3 i18n="ynl.durum"></h3>
                    </div>
                </div>
                <div ng-repeat="onayItem in ::model.onayListesi">
                    <div class="row">
                        <div class="col col-50">
                            <h4 class="value">{{::onayItem.kullanici}}</h4>
                        </div>
                        <div class="col col-30">
                            <h4 class="value">{{::onayItem.tarih | date:'dd/MM/yyyy'}}</h4>
                        </div>
                        <div class="col col-20">
                            <h4 class="value">{{::onayItem.durum | onay}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-light">
        <div class="button-bar">
            <a class="button icon-left  ion-checkmark button-positive" ng-click="onayla(model.onayId,model.id)">{{'ynl.onayla' | i18n}}</a>
            <a class="button icon-left ion-close button-assertive" ng-click="reddet(model.onayId,model.id)">{{'ynl.reddet' | i18n}}</a>
        </div>
    </div>
</ion-view>
<!--Popover menu list-->
<script id="templates/islemlerdetay.html" type="text/ng-template">
    <ion-popover-view style="height:120px">
        <ion-content>
            <ul class="list">
                <li>
                    <a class="item" href="#" ng-click="onayla(model.onayId,model.id)" i18n="ynl.onayla"></a>
                </li>
                <li>
                    <a class="item" href="#" ng-click="reddet(model.onayId,model.id)" i18n="ynl.reddet"></a>
                </li>
            </ul>
        </ion-content>
    </ion-popover-view>
</script>